
<% project.versions.sort { |x, y|
  # force versions without effective date to end of list
  if !x.effective_date and y.effective_date
    1
  elsif !y.effective_date and x.effective_date
    -1
  else
    # otherwise reverse to show newest revision first
    y <=> x 
  end 
  }.each do |v| %>
  <h3>
  <% if link_to_issues %>
    <%= link_to(v.to_s, :controller => 'versions', :action => 'show', :id => v) %>
  <% else %>
    <%= v.to_s %>
  <% end %>
  <%if v.effective_date %>
    <%= " (#{format_date(v.effective_date)})" %>
  <% end %>
  </h3>
  <ul>
    <% v.fixed_issues.visible.each do |i| %>
        <% if link_to_issues %>
          <li><%= link_to_issue(i) %>
        <% else %>
          <li><%= i.subject %>
      <% end %>
    <% end %>
  </ul>
<% end %>